export(create_meter_fun)
export(approx_rate)
export(get_avg_temp)
export(maketsum)
export(Maketsum)
export(simulate_corr_resids)
export(simulate_weather)
export(load_all_Rdata)
export(yday_inverse)
export(merge_transform_weather)
